@font-face {
  font-family: "BerninaSans";
  src: url(./BerninaSans-Web-Extrabold.woff) format("woff"),
    url(./BerninaSans-Web-Light.woff) format("woff"),
    url(./BerninaSans-Web-Regular.woff) format("woff"),
    url(./BerninaSans-Web-Semibold.woff) format("woff");
}

body {
  margin: 0;
  padding: 0;
  font-family: "BerninaSans";
  //   box-sizing: border-box;
}

img {
  width: 150px;
}

.header-body1 {
  background-image: url(./Images/home-hero-large.webp);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

header {
  position: relative;
  margin: 0;
  display: flex;
  justify-content: space-between;

  > img {
    width: 23%;
    align-self: center;
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .burger-menu {
    display: inline-block;
    list-style: none;
    position: relative;

    &:focus-within .menu {
      display: block;
    }
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        transform: scale(0.5);
        align-items: center;
      }
    }
  }

  .menu.item {
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 100%;
    list-style: none;
  }

  ul {
    margin-block-end: 0em;
    margin-block-start: 0em;
  }

  .menu-item > a {
    cursor: pointer;
  }
  // .menu-item:hover > .sub-menu, /*this one works, but focus doesn't!*/
  .menu-item:focus-within > .sub-menu {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
  }

  .menu {
    position: fixed;
    display: none;
    // right: 0px;
    background-color: white;
    z-index: 10;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }

  .sub-menu {
    display: none;
  }
}

/*End of Menu section. Below begins the Body.*/

.section1 {
  position: relative;
  display: flex;
  flex-direction: column;
  height: fit-content;

  h1 {
    margin-left: 3%;
    margin-top: 19%;
    width: 85%;
  }

  h2 {
    margin-left: 3%;
    width: 90%;
  }

  .link1 {
    display: inline-block;
    margin-left: 6%;
  }

  .link2 {
    display: inline-block;
    margin-left: 10%;
  }

  .dashboard {
    align-self: center;
    width: 95%;
    margin-top: 8%;
    margin-bottom: 30%;
  }
}

.section2 {
  background-image: url(./Images/Gartner-Background-Wave.jpg.webp);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: 10%;

  .logo {
    width: 16%;
    margin-top: 3%;
    margin-left: 3%;
  }

  p {
    width: 85%;
    margin-left: 3%;
  }

  .link {
    margin-left: 3%;
    margin-bottom: 20px;
  }
}
.section3 {
  position: relative;
  margin-top: 110px;
  margin-bottom: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    width: 70%;
    text-align: center;
    margin-bottom: 45px;
  }

  img {
    width: 16%;
    margin-bottom: 36px;
  }

  img:nth-child(2) {
    width: 14%;
  }
  img:nth-child(3) {
    width: 24%;
  }

  img:nth-child(4) {
    width: 8.5%;
  }

  img:nth-child(5) {
    width: 22%;
  }

  img:nth-child(6) {
    width: 17%;
  }

  img:nth-child(7) {
    width: 15%;
    margin-bottom: 45px;
  }
}

.section4 {
  position: relative;
  margin-top: 230px;
  margin-bottom: 220px;
  display: flex;
  flex-direction: column;

  .overview {
    text-align: center;
    padding-bottom: 16px;
    margin-left: 2%;

    h2 {
      width: 90%;
      margin: 0 auto;
    }
  }
  ul {
    list-style: none;
    justify-content: flex-start;
    width: 90%;
    padding: 0;
    margin-left: 4%;

    li {
      margin-bottom: 50px;
    }
  }
  .link {
    margin-left: 4%;
  }
  padding: 0;
}

.section5 {
  position: relative;
  background-image: url(./Images/Gartner-Background-Wave.jpg.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;

  h2 {
    width: 82%;
    margin-top: 5%;
    align-self: center;
  }

  p {
    width: 92%;
    align-self: center;
  }

  .link1 {
    margin-left: 5%;
  }

  .link2 {
    margin-left: 10%;
  }

  img {
    display: block;
    width: 60%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

.section6 {
  position: relative;
  margin-top: 35%;
  margin-bottom: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2,
  h3 {
    width: 90%;
    text-align: center;
  }

  img {
    width: 15%;
  }
}
