@font-face {
  font-family: "BerninaSans";
  src: url(./BerninaSans-Web-Extrabold.woff) format("woff"), url(./BerninaSans-Web-Light.woff) format("woff"), url(./BerninaSans-Web-Regular.woff) format("woff"), url(./BerninaSans-Web-Semibold.woff) format("woff");
}
body {
  margin: 0;
  padding: 0;
  font-family: "BerninaSans";
}

img {
  width: 150px;
}

.header-body1 {
  background-image: url(./Images/home-hero-large.webp);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

header {
  position: relative;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
header > img {
  width: 23%;
  align-self: center;
  margin-left: 4%;
  margin-top: 2%;
  margin-bottom: 2%;
}
header .burger-menu {
  display: inline-block;
  list-style: none;
  position: relative;
}
header .burger-menu:focus-within .menu {
  display: block;
}
header .burger-menu li {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .burger-menu li svg {
  transform: scale(0.5);
  align-items: center;
}
header .menu.item {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
  list-style: none;
}
header ul {
  margin-block-end: 0em;
  margin-block-start: 0em;
}
header .menu-item > a {
  cursor: pointer;
}
header .menu-item:focus-within > .sub-menu {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
}
header .menu {
  position: fixed;
  display: none;
  background-color: white;
  z-index: 10;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
header .sub-menu {
  display: none;
}

/*End of Menu section. Below begins the Body.*/
.section1 {
  position: relative;
  display: flex;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
}
.section1 h1 {
  margin-left: 3%;
  margin-top: 19%;
  width: 85%;
}
.section1 h2 {
  margin-left: 3%;
  width: 90%;
}
.section1 .link1 {
  display: inline-block;
  margin-left: 6%;
}
.section1 .link2 {
  display: inline-block;
  margin-left: 10%;
}
.section1 .dashboard {
  align-self: center;
  width: 95%;
  margin-top: 8%;
  margin-bottom: 30%;
}

.section2 {
  background-image: url(./Images/Gartner-Background-Wave.jpg.webp);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: 10%;
}
.section2 .logo {
  width: 16%;
  margin-top: 3%;
  margin-left: 3%;
}
.section2 p {
  width: 85%;
  margin-left: 3%;
}
.section2 .link {
  margin-left: 3%;
  margin-bottom: 20px;
}

.section3 {
  position: relative;
  margin-top: 110px;
  margin-bottom: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section3 h2 {
  width: 70%;
  text-align: center;
  margin-bottom: 45px;
}
.section3 img {
  width: 16%;
  margin-bottom: 36px;
}
.section3 img:nth-child(2) {
  width: 14%;
}
.section3 img:nth-child(3) {
  width: 24%;
}
.section3 img:nth-child(4) {
  width: 8.5%;
}
.section3 img:nth-child(5) {
  width: 22%;
}
.section3 img:nth-child(6) {
  width: 17%;
}
.section3 img:nth-child(7) {
  width: 15%;
  margin-bottom: 45px;
}

.section4 {
  position: relative;
  margin-top: 230px;
  margin-bottom: 220px;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.section4 .overview {
  text-align: center;
  padding-bottom: 16px;
  margin-left: 2%;
}
.section4 .overview h2 {
  width: 90%;
  margin: 0 auto;
}
.section4 ul {
  list-style: none;
  justify-content: flex-start;
  width: 90%;
  padding: 0;
  margin-left: 4%;
}
.section4 ul li {
  margin-bottom: 50px;
}
.section4 .link {
  margin-left: 4%;
}

.section5 {
  position: relative;
  background-image: url(./Images/Gartner-Background-Wave.jpg.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.section5 h2 {
  width: 82%;
  margin-top: 5%;
  align-self: center;
}
.section5 p {
  width: 92%;
  align-self: center;
}
.section5 .link1 {
  margin-left: 5%;
}
.section5 .link2 {
  margin-left: 10%;
}
.section5 img {
  display: block;
  width: 60%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.section6 {
  position: relative;
  margin-top: 35%;
  margin-bottom: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section6 h2,
.section6 h3 {
  width: 90%;
  text-align: center;
}
.section6 img {
  width: 15%;
}/*# sourceMappingURL=general.css.map */