@font-face {
  font-family: "BerninaSans";
  src: url(./BerninaSans-Web-Extrabold.woff) format("woff"),
    url(./BerninaSans-Web-Light.woff) format("woff"),
    url(./BerninaSans-Web-Regular.woff) format("woff"),
    url(./BerninaSans-Web-Semibold.woff) format("woff");
}

* {
  margin: 0;
  padding: 0;
  //   box-sizing: border-box;
}
body {
  font-family: "BerninaSans";
}
img {
  width: 150px;
}

header {
  display: flex;
  justify-content: space-between;
  // background-color: red;
  // align-items: flex-start;
}

.dynatrace-logo img {
  // height: 60%;

  width: 150px;
}

.dynatrace-logo {
  // background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger-menu {
  display: flex;
  justify-content: center;
  // align-items: center;
  list-style: none;
  position: relative;
  // background-color: blue;
  &:focus-within + .menu {
    display: block;
  }
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      transform: scale(0.5);
    }
  }
}

ul {
  margin-block-end: 0em;
  margin-block-start: 0em;
}

.menu {
  position: absolute;
  display: none;
  right: 20px;
  background-color: white;
}

.top-section {
  background-image: url(./Images/home-hero-large.webp);
}
